body {
    background-color:#ffffff;
    text-align: center;
    align-content: center;
}
#wholeform{
    width: 40%;
   height: 50%;
   display: flex;
   position:absolute;top: 20%;left: 28%;right: 0%;
   flex-direction: column;
   background-color:#FFCAD4;
   padding: 10px;
   text-align: center;
   -ms-flex-item-align: center;
   gap: 10%;
   outline: 10px;
   box-shadow: 10px 5px 5px #F4ACB7;
   border-radius: 30px;

}
#username{
    display: flex;
    position:absolute;top: 5%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
}
#SuperSecret{ 
    display: flex;
    position:absolute;top: 25%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
}
#email{
    display: flex;
    position:absolute;top: 45%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
}
#name{
    display: flex;
    position:absolute;top: 65%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
}
#submitLogin{
    display: flex;
    position:absolute;top: 85%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#cca8b3;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
    
 
}