body {
    background-color:#ffffff;
    text-align: center;
    align-content: center;
}
#RegBox{
    width: 40%;
   height: 40%;
   display: flex;
   position:absolute;top: 20%;left: 28%;right: 0%;
   flex-direction: column;
   background-color:#FFCAD4;
   padding: 10px;
   text-align: center;
   -ms-flex-item-align: center;
   gap: 10%;
   outline: 10px;
   box-shadow: 10px 5px 5px #F4ACB7;
   border-radius: 30px;
}



#Register{
    position: relative;bottom: -66%;
    color: #4853ca;
    font-size:14px;
  text-decoration: underline;
}
#username{
    display: flex;
    position:absolute;top: 10%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
}
#SuperSecret{ 
    display: flex;
    position:absolute;top: 40%;left: 25%;right: 20%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
}
#submitLogin{
    position:relative;top: 70%;left: 10%;right: 10%;
    flex-direction: column;
    background-color:#cca8b3;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    width: 85%;
}
