body{
    background-color:#ffffff;
    text-align: center;
}
#content {
    width: 75%;
    height: 90%;
    position:relative;left: 10%;right: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
   
}
#BigForm{ 
    width: 40%;
    height: 50%;
    display: flex;
    position:absolute;top: 20%;left: 28%;right: 0%;
    flex-direction: column;
    background-color:#FFCAD4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
             
}
#submitform{
    display: flex;
    position:relative;
    flex-direction: column;
    background-color:#cca8b3;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    -ms-flex-item-align: center;
    gap: 10%;
    outline: 10px;
    box-shadow: 10px 5px 5px #F4ACB7;
    border-radius: 30px;
    text-indent: 150px;
    
}

/* #LeftM{     
    width: 6%;
    height: 50%;
    display: flex;
    position:absolute;top: 20%;left: 20%;right: 20%;
    flex-direction: column;
    background-color:#1b0ab4;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    z-index: 1;
    opacity: 0.5;
}
#RightM{     
    width: 6%;
    height: 50%;
    display: flex;
    position:absolute;top: 20%;left: 64%;right: 0%;
    flex-direction: column;
    background-color:#19c709;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    z-index: 1;
    opacity: 0.5;
}
#TopLeftM{   
    width: 8%;
    height: 50%;
    display: flex;
    position:absolute;top: 10%;left: 30%;right: 20%;
    flex-direction: column;
    background-color:#ff0000;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    z-index: 1;
    opacity: 0.5;
    transform: rotate(-65deg) ;
  
}
#TopRightM{   
    width: 8%;
    height: 50%;
    display: flex;
    position:absolute;top: 10%;left: 53%;right: 0%;
    flex-direction: column;
    background-color:#ff0000;
    padding: 10px;
    text-align: center;
    -ms-flex-item-align: center;
    z-index: 1;
    opacity: .5;
    transform: rotate(65deg) ;
  
} */
